<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>页面公共</title>
    <!--公共css-->
    <div id="com_css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="ThemeBucket">
        <link rel="shortcut icon" href="#" type="image/png">

        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/style-responsive.css" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-reset.css" rel="stylesheet">
        <link href="/static/css/load.css" rel="stylesheet">
    </div>
    <!--公共js-->
    <div id="com_js">
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.nicescroll.js"></script>
        <script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="/static/js/clipboard.js"></script>
        <script src="/static/js/ZH_Utils.js"></script>
    </div>
</head>
<body>
<!--消息提示框-->
<div id="com_alert" th:if="${msg}!=null" th:switch="${msg.code}">
    <div th:case="200" class="alert alert-success fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: green" th:utext="${msg.message}"></label>
    </div>
    <div th:case="100" class="alert alert-info fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label th:utext="${msg.message}"></label>
    </div>
    <div th:case="500" class="alert alert-danger fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: red" th:utext="${msg.message}"></label>
    </div>
    <div th:case="404" class="alert alert-warning fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: orange" th:utext="${msg.message}"></label>
    </div>
</div>
</body>
</html>