<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>页面公共</title>
    <!--公共css-->
    <div id="com_css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="ZhangHeng">
        <link  href="static/favicon.ico"  rel="shortcut icon" type="image/x-icon" />
<!--        <link rel="shortcut icon" href="#" type="image/png">-->

        <link href="static/css/style.css" rel="stylesheet">
<!--        <link href="/static/css/style-responsive.css" rel="stylesheet">-->
<!--        <link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
<!--        <link href="/static/css/load.css" rel="stylesheet">-->
<!--        <link href="/static/css/bootstrap-reset.css" rel="stylesheet">-->
        <script src="static/js/localFile.js" th:version="${version}"></script>
        <script>
            // eval(loadCss("/static/css/style.css"));
            loadCss("static/css/style-responsive.css");
            loadCss("static/css/bootstrap.min.css");
            loadCss("static/css/bootstrap-reset.css");
            loadCss("static/css/load.css");
            eval(loadJs("static/js/jquery-1.10.2.min.js"));
        </script>
    </div>
    <!--公共js-->
    <div id="com_js">
<!--        <script src="/static/js/jquery-1.10.2.min.js"></script>-->
<!--        <script src="/static/js/bootstrap.min.js"></script>-->
<!--        <script src="/static/js/jquery-ui-1.9.2.custom.min.js"></script>-->
<!--        <script src="/static/js/clipboard.js"></script>-->
<!--        <script src="/static/js/ZH_Utils.js"></script>-->
        <script>
            eval(loadJs("static/js/ZH_Utils.js"));
            eval(loadJs("static/js/bootstrap.min.js"));
            eval(loadJs("static/js/jquery-ui-1.9.2.custom.min.js"));
            eval(loadJs("static/js/clipboard.js"));
            eval(loadJs("static/js/client-info.js"));
        </script>
    </div>
</head>
<body>
<!--消息提示框-->
<div id="com_alert" th:if="${msg}!=null" >
    <div th:if="${#strings.startsWith(${msg.code}+'','2')}" class="alert alert-success fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: green" th:utext="${msg.message}"></label>
    </div>
    <div th:if="${#strings.startsWith(${msg.code}+'','1')}"class="alert alert-info fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label th:utext="${msg.message}"></label>
    </div>
    <div th:if="${#strings.startsWith(${msg.code}+'','5')}"class="alert alert-danger fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: red" th:utext="${msg.message}"></label>
    </div>
    <div th:if="${#strings.startsWith(${msg.code}+'','4')}"class="alert alert-warning fade in" >
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        <label style="color: orange" th:utext="${msg.message}"></label>
    </div>
</div>
</body>
</html>