<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件管理</title>


    <link th:include="comm :: #com_css">

</head>
<body class="loading">

<section>
    <div class="row">

    </div>
    <div class="wrapper">
        <div class="col-lg-2"></div>
        <section class="panel col-lg-8">
            <div class="panel-heading custom-tab blue-tab">
                <ul class="nav nav-tabs">
                    <li class="">
                        <a href="#t1" data-toggle="tab">
                            <i class="fa fa-upload"></i>
                            文件上传
                        </a>
                    </li>
                    <li class="active">
                        <a href="#t2" data-toggle="tab">
                            <i class="fa fa-search"></i>
                            文件查找
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane" id="t1">
                        <div th:replace="upload::#upload_form"></div>
                    </div>
                    <div class="tab-pane active" id="t2">
                        <div th:replace="findFileList::#findFileList"></div>
                    </div>
                </div>

            </div>
        </section>
        <div class="col-lg-2" style="font-style: italic;font-weight: bolder;"></div>
    </div>
</section>
<!--<script src="/static/js/scripts.js"></script>-->
<div th:include="comm :: #com_js"></div>
<script defer>
    window.onload = function () {
        // console.log("页面加载完成====》onload");
        document.body.classList.remove('loading');
    };
    $(window).load(function () {
        // console.log("jquery===》window load");
    });
    $(function () {
        // console.log("jquery====》document onload");
    });
    $(document).ready(function () {
        // console.log("jquery====》document ready");

        console.group("%c作者信息", "color: red; font-size: 20px;font-weight: bolder");
        console.log("%c昵称: 星曦向荣", "color: orange; font-style: italic;font-weight: bold");
        console.log("%c邮箱: zhangheng_0805@163.com", "color: purple; font-style: italic;font-weight: bold");
        console.log("%cGitHub: https://github.com/ZhangHeng0805", "color: black; font-style: italic;font-weight: bold");
        console.log("%cGitee: https://gitee.com/ZhangHeng0805", "color: blue; font-style: italic;font-weight: bold");
        console.log("%c微信公众号: https://mp.weixin.qq.com/s?__biz=MzIwMDQ2OTg4NA==&mid=2247484118&idx=1&sn=30dd3f7f2a4d93a6fdce4fb808e7c506&chksm=96fdfec5a18a77d35645d8e8f55477353aeb9a949fc73a2c302ca336155f8becae635e26f022#rd", "color: green; font-style: italic;font-weight: bold");
        console.log("%c", "background: url(https://mmbiz.qpic.cn/mmbiz_png/x2YjFdn7BJgkgdQBzWHMlf3XeDXNAd39x1Zqx2LEO8QRjib1jOkDcia7RSq0XhkJsGjVAC4ZvAAtCmicHeBgymYEw/640?wx_fmt=png&wxfrom=5&wx_lazy=1&wx_co=1) no-repeat;padding:50px 300px;line-height:120px");
        console.groupEnd();
    });
</script>
</body>
</html>