<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件管理</title>

    <link th:include="comm :: #com_css">

    <div th:include="comm :: #com_js"></div>
</head>
<body class="loading">
<section>
    <div class="row">

    </div>
    <div class="wrapper">
        <div class="col-lg-2"></div>
        <section class="panel col-lg-8">
            <div class="panel-heading custom-tab blue-tab">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#t1" data-toggle="tab">
                            <i class="fa fa-upload"></i>
                            文件上传
                        </a>
                    </li>
                    <li class="">
                        <a href="#t2" data-toggle="tab">
                            <i class="fa fa-search"></i>
                            文件查找
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="t1">
                        <div th:replace="upload::#upload_form"></div>
                    </div>
                    <div class="tab-pane" id="t2">
                        <div th:replace="findFileList::#findFileList"></div>
                    </div>
                </div>

            </div>
        </section>
        <div class="col-lg-2"></div>
    </div>
</section>
<script src="/static/js/scripts.js"></script>
<script>
    window.onload=function () {
        document.body.classList.remove('loading');
    }
</script>
</body>
</html>