<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传界面</title>
</head>
<body>
<form id="upload_form" class="form-horizontal" style="padding: 8px" role="form" onsubmit="return false;"
      enctype="multipart/form-data">
    <!--    <input id="v-code" name="code" type="hidden">-->
    <div class="form-group" title="用户访问密钥">
        <div class="col-md-2 form-group">
            <label class="control-label" for="key"><label style="color: red">*</label>访问秘钥：</label>
        </div>
        <div class="col-lg-7 form-group">
            <input class="form-control" type="password" id="key" name="key" placeholder="请输入访问秘钥" required autofocus
                   autocomplete>
        </div>
        <div class="col-lg-3 checkbox" style="float: right">
            <input type="checkbox" id="remember"><label>记住秘钥</label>
        </div>
    </div>
    <div class="form-group" th:title="'选择'+${maxFileSize}+'以内的文件'">
        <label class="control-label" for="file"><label style="color: red">*</label>选择文件([[${maxFileSize}]]以内)：<span
                id="fileSize"></span></label>
        <input type="file" id="file" name="file" required>
    </div>
    <div class="form-group" th:title="'选择文件后可以修改保存的文件名称，文件名控制在'+${maxFileName}+'个字符内，非法字符/\:*?|<>'">
        <label class="control-label" for="fileName">文件名称：</label>
        <input class="form-control" type="text" id="fileName" name="fileName" placeholder="请输入文件名称（选填）例：壁纸123"
               th:oninput="'titleInput(\'fileName\',\'fileName_tips\','+${maxFileName}+')'"
               onchange="value=value.replace(/[/\\:*?|<>]/g,'')"
        >

        <p class="help-block" id="fileName_tips"></p>
    </div>
    <div class="form-group" th:title="'输入文件保存的目录，默认根据文件类型进行保存，路径名控制在'+${maxFilePath}+'个字符内，非法字符/\$'">
        <label class="control-label" for="path">保存路径：</label>
        <input class="form-control" type="text" id="path" name="path" placeholder="请输入保存路径（选填）例：image"
               th:oninput="'titleInput(\'path\',\'filePath_tips\','+${maxFilePath}+')'"
               onchange="value=value.replace(/[/\\$]/g,'')"
        >
        <p class="help-block" id="filePath_tips"></p>
    </div>
    <div class="form-group" title="输入验证码，进行上传验证">
        <label class="control-label" for="code"><label style="color: red">*</label>验证码：
            <img
                style="height: 50px"
                onclick="resetImgCode()"
                id="img-code">
            <a onclick="resetImgCode()">换一张</a></label>
        <input class="form-control" type="number" id="code" name="code" placeholder="请输入图片中的计算结果" required>
    </div>
    <div>
        <img id="wait_icon" src="" onerror="loadImg(this)" lsrc="static/img/%E5%BE%AA%E7%8E%AF.gif" style="zoom:0.2;"
             hidden="hidden">
        <input type="submit" id="btn_upload" class="btn btn-search" onclick="sub1()" value="上传">
        <input type="button" class="btn btn-default" value="重置" onclick="upload_reset()">
    </div>

    <script th:inline="javascript">
        function resetImgCode() {
            $("#code").val(null);
            $("#img-code").attr("src", window.location.href+"getVerify/math?t=" + new Date().getTime());
        }

        $("#file").change(function () {
            var f = document.getElementById("file").files;
            var name = f[0].name;
            var size = f[0].size;
            var type = f[0].type;
            let maxSize=[[${maxFileSize}]];
            let maxName=[[${maxFileName}]];
            var fName = name.substring(0, name.lastIndexOf(".")).length > maxName ? name.substring(0, maxName) : name.substring(0, name.lastIndexOf("."));
            $("#fileName").val(fName);
            $("#fileSize").text(getFileSizeFormat(size));
            // $("#path").val(size);
            if ((size / 1048576) >= Number(maxSize.replace('MB',''))) {
                alert("警告：文件大小超过"+maxSize+"最大限制！");
                $("#file").val(null);
                $("#fileName").val(null);
                $("#fileSize").text('');
                // $("#fileSize").attr("style", "color:red");
                // $("#path").val(null);
            } else {
                $("#fileSize").attr("style", "color:green");
            }
            titleInput('fileName','fileName_tips',maxName);
        });

        function sub1() {
            hideModel();
            var key = $("#key").val();
            var file = $("#file").val();
            var code = $("#code").val();
            if (key.length > 0) {
                if (file.length > 0) {
                    if (code.length > 0) {
                        checkCode(code)
                        //resetImgCode();
                    } else {
                        alert("请输入验证码");
                    }
                } else {
                    alert("请选择文件");
                }
            } else {
                alert("请输入秘钥");
            }
            return false;
        }

        function checkCode(code) {
            $.ajax({
                url: window.location.href+"getVerify/math/checking",
                type: "post",
                dataType: "json",
                data: {
                    code: code,
                    isClear: false
                },
                success: function (d) {
                    if (d.code == 200) {
                        $("#wait_icon").show();
                        $("#btn_upload").attr('disabled', true);
                        $("#btn_upload").val('上传中...');
                        upload(key);
                    } else {
                        showModel(d);
                        resetImgCode();
                        console.warn(d);
                        return false;
                    }
                },
                error: function (e) {
                    ajax_error(e);
                    return false;
                }
            });
        }

        function upload(key) {
            checkCoookie();
            var form = new FormData(document.getElementById("upload_form"));
            $.ajax({
                url: window.location.href+"upload/saveMulFile",
                type: "post",
                dataType: "json",
                xhrFields: {
                    withCredentials: true
                },
                data: form,
                processData: false,
                contentType: false,
                xhr: function () { //用以显示上传进度
                    var xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener('progress', function (event) {
                            var percent = Math.floor(event.loaded / event.total * 100);
                            let pro = percent - 1;
                            pro = pro > 0 ? pro : 0;
                            $("#btn_upload").val(pro + "%" + '上传中...');
                        }, false);
                    }
                    return xhr
                },
                success: function (d) {
                    showModel(d);
                    if (d.code == 200) {
                        upload_reset();
                    } else {
                        resetImgCode();
                        console.warn(d);
                    }
                    $("#btn_upload").attr("disabled", false);
                    $("#btn_upload").val('上传');
                    $("#wait_icon").hide();
                },
                error: function (e) {
                    $("#btn_upload").attr("disabled", false);
                    $("#btn_upload").val('上传');
                    $("#wait_icon").hide();

                    ajax_error(e);
                }
            })
        }
        function ajax_error(e) {
            if (e.readyState===4){
                if (e.responseJSON!=null) {
                    e.responseJSON.title=e.responseJSON.title?e.responseJSON.title:e.responseJSON.error;
                    alert(e.responseJSON.title+'\n'+e.responseJSON.message);
                    showModel(e.responseJSON);
                }else if (e.responseText!=null) {
                    alert("请求错误："+e.responseText);
                }
            }else{
                alert("请求失败！")
            }
            console.error(e);
        }

        function showModel(d) {
            d.code=d.code?d.code:d.status;
            d.title=d.title?d.title:d.error;
            d.time=d.time?d.time:d.timestamp;
            var html = "";
            if ((d.code + '').startsWith('2')) {
                html += '<div  class="alert alert-success fade in">';
            } else if ((d.code + '').startsWith('5')) {
                html += '<div  class="alert alert-danger fade in">';
            } else if ((d.code + '').startsWith('4')) {
                html += '<div  class="alert alert-warning fade in">';
            } else if ((d.code + '').startsWith('1')) {
                html += '<div  class="alert alert-info fade in">';
            }
            html += '<button type="button" class="close close-sm" data-dismiss="alert">' +
                '      <i class="fa fa-times"></i>' +
                '  </button>' +
                '<h4><strong>' + d.title + '</strong></h4>' +
                '<div class="text-right">'+d.time+'</div>';
            if (d.code == 200) {
                let arr = d.message.split("/");
                for (let n = 0; n < arr.length; n++) {
                    arr[n] = encodeURIComponent(arr[n]);
                }
                let path = arr.join("/");
                html += '<label><a target="_blank" href="download/show/' + path + '">' + d.message + '</a></label>';
            } else {
                html += '<label>' + d.message + '</label>';
            }
            html += '</div>';
            $("#upload_alert").html(html);
        }

        function hideModel() {
            $("#upload_alert").html('');
        }

        function upload_reset(state) {
            if (!$("#remember").is(':checked')) {
                $("#key").val(null);
            }
            if (state != 1)
                $("#file").val(null);

            $("#fileName").val(null);
            $("#fileSize").text('');
            $("#path").val(null);
            resetImgCode();
            document.getElementById('fileName_tips').style.display='none';
            document.getElementById('filePath_tips').style.display='none';
        }

        function getFileSizeFormat(size) {
            if (size >= 0 && size < (1024 * 1000)) {
                return (size / 1024).toFixed(2) + "Kb";
            } else if (size >= (1024 * 1000) && size < (1024 * 1024 * 1000)) {
                return (size / (1024 * 1024)).toFixed(2) + "Mb"
            } else if (size >= (1024 * 1024 * 1000)) {
                return (size / (1024 * 1024 * 1024)).toFixed(2) + "Gb"
            } else {
                return size + "B";
            }
        }
    </script>
</form>
</body>
</html>